@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Rawhide Raw 2016';
  src:
    url('../fonts/RawhideRaw2016.ttf') format('truetype'),
    url('../fonts/RawhideRaw2016.woff') format('woff'),
    url('../fonts/RawhideRaw2016.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #10010c;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul {
  list-style: none;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
